body {
	background-color:  #a3c2c2;
    margin: auto;
    padding: 0px;
}
/*hearder bar background*/
.header {
	margin: auto;
	position: relative;
}
.container{
	margin-top: 0px;
	margin-left: auto; 
	margin-right: auto;
	height: 75px;
	width: 1410px;
	background: rgba(224, 235, 235,.5) ;
	border-bottom: 1px solid #75a3a3;
	position: relative;
	z-index: 5000000;
}
/*link style*/
a{
	text-decoration: none;
}
.headerMenu a:hover {
	text-decoration: underline;
	color: #5c8a8a;
	
}
.headerMenu a{
	text-decoration: none;
	color: #75a3a3;
}
.headerMenu a:active  {
color: #94b8b8;
}
.active-link a{
	color: #476b6b;
}

/*logo*/
.logo {
	position: relative;
    float: left; 
    margin: 0px;
    padding: 0px;
     
}
.logo img{
	width: 80px;
	height: 80px;
	margin-left: 60px;
	margin-top: 0px;

}
.logo h2 {
	font-size: 27px;
	font-family:"Pretty Script " ;
	font-weight: 20px;
	margin: 0px;
	margin-left: 140px;
	margin-top: -55px;
	color: #004c4d;
	text-shadow:2px 2px 2px #c2d6d6;
}

/*Header menu*/
.headerMenu {
	position:relative;
	float: right ;
	margin-right: 60px;
	margin-top: 25px;
}

.headerMenu> li{ 
	display: inline;
  	padding-left: 40px;
  	padding-right: 20px;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #75a3a3;
	font-family: "Optima";
	text-shadow: 2px 2px 2px #94b8b8; 
}
/*Dropdown menu*/
.portfolio-menu {
	z-index: 5000000;
	display: none;
	position: absolute;
	margin-left: 150px;
	list-style-type: none;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 16px;
	background-color: 	#e0ebeb;
	text-shadow: 2px 2px 2px rgba(163, 194, 194, .8);
	box-shadow: 2px 2px 2px rgb(102, 153, 153, .8);	
	padding: 12px;

}
.portfolio-menu li a{
	position: relative;
	font-size: 16px;
	color:  #334c4c;
}
.titleAbout{
	background-color:   #a3c2c2;
	position: relative;
	border-radius: 20px;
	width: 1220px;
	padding: 20px;
	margin-top: -5px;
	margin-left: auto;
	margin-right: auto;
}

.aboutHead{
	font-family: 'Optima';
	font-variant: small-caps;
	font-weight: normal;
	margin: 0;
	margin-left: 185px;
	color: #5c8a8a;
	font-size: 50px;
	line-height: 1.4em;
	text-shadow: 3px 3px 3px rgba(71, 107, 107,.2); 
}
.aboutImage{
	border: 10px;
	border-radius: 10px;
	width: 845px;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 185px;
}
.aboutMe{
	line-height: 1.4em;
	margin-left: 145px;
	width: 845px;
}
.aboutSara{
	font-family: 'Optima';
	font-style: normal;
	font-size: inherit;
	color:#d1e0e0;
}
.aboutBurke{
	color: #5c8a8a;
	font-family: 'Optima';
	font-variant: normal;
	font-style: normal;
	font-weight: lighter;
	font-size: inherit;
}




