body {
	background-color: #e0ebeb;
}
/*hearder bar background*/
.header {
	background: rgba(224, 235, 235,.8) ;
	border-bottom: 1px solid #75a3a3;
	position: fixed;
	margin-top:  -110px; 
	margin-left: -15px;
	width: 1440px;
	height: 80px;
	padding: 15px;
}

a {
	text-decoration: none;
	
}

/*logo*/
.logo {
	position: fixed;
    float: left; 
     
}
.logo img{
	width: 100px;
	height: 100px;
	margin-top: -15px;
	margin-left: -25px;
}
.logo h2 {
	font-size: 37px;
	margin-top: -70px;
	margin-left: 80px;
	color: #004c4d;
	text-shadow:2px 2px 2px #c2d6d6;
}

/*Header menu*/
.headerMenu {
	position: fixed;
	margin-left: 500px;
	margin-top: 30px;
}
.headerMenu> li{ 
	display: inline;
  	padding-left: 40px;
  	padding-right: 20px;
	font-size: 25px;
	color:  #007f80;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	text-shadow: 2px 2px 2px #94b8b8; 
}
/*Dropdown menu*/
.portfolio-menu {
	display: none;
	position: fixed;
	margin-left: 160px;
	font-size: 18px;
	list-style-type: none;
	border-radius: 8px;
	background-color: #a3c2c2;
	box-shadow: 2px 2px 2px rgba(117, 163, 163, .4);
	padding: 12px;

}
.portfolio-menu li a{
	font-size: 20px;
	color:  #334c4c;
}

.slideHolder{
	margin-top: 100px;
	margin-left: -35px;
}

.previousArrow {
  display: inline-block;
  vertical-align: top;
  margin-left:25px ;
  margin-top: -385px;
   width: 30px;
  height: 40px;
}

.nextArrow {
  display: inline-block;
  vertical-align: top;
  margin-top: -380px; 
  margin-left: 1250px; 
  width: 30px;
  height: 40px;

}

.footer {
	clear: both;
	background-color: #003333;
	width: 1440px;
	height: 80px;
	margin-left: 0px;
	margin-top: -56px;
	
}

.twitterLogo{
	margin-left: 500px;
}
.footer img {
	padding-left: 20px;
	margin-top: 12px;
	/*position: relative;*/
	width: 50px;
	height: 50px;

}
