body {
	background-color: #e0ebeb;
}
.nav {
	background: rgba(224, 235, 235,.8) ;
	margin-top: -10px;
	position: fixed; 
	width: 100%;
	height: 100px;

}

 a {
	text-decoration: none;
}
.nav li{ 
	font-size: 27px;
	display: inline;
	color: #334c4c;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	margin-bottom: 10px;
	margin-right: 25px;
	text-shadow: 2px 2px 2px #94b8b8; 
}

.pull-left {
    float: left; 
     
}

.pull-left img{
	width: 100px;
	height: 100px;
	margin-top: -15px;
	margin-left: -25px;
}
.pull-left h2 {
	font-size: 37px;
	margin-top: -70px;
	margin-left: 80px;
	color: #004c4d;
	text-shadow:2px 2px 2px #c2d6d6;
}

.pull-right {
	float: right;
	margin-right: 20px;
}

.work {
	width: 1440px;
	height: 900px;
}

.footer {
	clear: both;
	background-color: #003333;
	position: relative;
	width: 100%;
	height: 80px;
	margin-top: -22px;
}

.footer img {

	margin-top: 10px;
	margin-right:20px; 
	position: relative;
	width: 50px;
	height: 50px;

}
